<% include _header %>

<h1><%= post.title %></h1>
<p><%= post.date %></p>
<p><%= post.description %></p>
<p><%- post.content %></p>

<a class="btn btn-primary" href="/posts/edit/<%= post.title %>">edit</a>
<a class="postDeleteBtn btn btn-primary" href="/posts/delete/<%= post.title %>">delete</a>

<% include _footer %>
